/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}


/* General styles start */

html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #333;
}

.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width:321px) and (max-width:480px) {
  .container {
    max-width: 480px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.btn {
  border: none;
  width: 290px;
  min-height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  transition: .1s;
} .btn a {
  text-decoration: none;
  flex-basis: 100%;
}

.btn-red {
  background: #FF352B;
  color: #f2f2f2;
  text-align: center;
} .btn-red a {
  color: #F2F2F2;
}
.btn-red:hover {
  background: #FF6860;
}
.btn-red:active {
  background: #A6160E;
}

.btn-yellow {
  background: #FED100;
  font-weight: normal;
} .btn-yellow a {
  color: #333333;
}
.btn-yellow:hover {
  background: #FFDD40;
}
.btn-yellow:active {
  background: #A58800;
}

.btn-bordered {
  border: 1px solid #333333;
  font-weight: normal;
  background: transparent;
} .btn-bordered a {
  color: #333;
}
.btn-bordered:hover {
  border-style: dashed;
}

/* General styles end */


/* Header styles start */

.header {
  padding-top: 30px;
  background: #FED100;
}

.header .logo {
  width: 62px;
}

.header .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header .nav-menu,
.header .nav-menu + p {
  display: none;
}
.header nav::after {
  content: '';
  display: block;
  width: 44px;
  height: 20px;
  cursor: pointer;
  background: url('../img/burger-line.png') no-repeat, 
              url('../img/burger-line.png') no-repeat, 
              url('../img/burger-line.png') no-repeat;
  background-position: 0 0, 0 9px, 0 18px;
}

.header .nav-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header .nav-item {
  font-size: 18px;
}

.header .tel {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

/* Header styles end */


/* Promo styles start */

.promo {
  background:#FED100;
  background-position: top 96px left 45px;
  border: 1px solid transparent;
  padding-top: 6px;
  padding-bottom: 40px;
}

.promo .container {
  background: url('../img/guy-with-the-box.png') no-repeat;
  background-size: 248px;
  background-position: left 50% bottom 35px;
}

.promo .text {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 333px;
}

.promo .promo-btn {
  margin: 0 auto;
}
@media (min-width: 321px) and (max-width: 480px) {
  .promo .promo-btn {
    -webkit-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
    box-shadow: 5px 5px 0px 0px rgba(255,255,255,1);
  }
}

.promo .text-big {
  font-size: 28px;
  margin-bottom: 5px;
}

.promo .features {
  display: none;
}

/* Promo styles end */


/* How-works styles start */

.how-works {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.how-works .title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.how-works .list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width:321px) and (max-width:480px) {
  .how-works .list {
    max-width: 290px;
    margin: 0 auto;
  }
}

.how-works .list-item {
  position: relative;
  min-height: 60px;
  padding-left: 75px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.how-works .list-item::before {
  content: '';
  display: block;
  width: 60px;
  height: 60px;

  position: absolute;
  left: 0;
  top: 0;
}
.how-works .list-item:nth-child(1)::before { background: url('../img/01.svg') no-repeat }
.how-works .list-item:nth-child(2)::before { background: url('../img/02.svg') no-repeat }
.how-works .list-item:nth-child(3)::before { background: url('../img/03.svg') no-repeat }
.how-works .list-item:nth-child(4)::before { background: url('../img/04.svg') no-repeat }


.how-works .item-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
}

.how-works .item-text {
  display: none;
}

/* How-works styles end */


/* Price styles start */

.price {
  background: #F8FBFF;
  border: 1px solid transparent;
  padding-top: 50px;
  padding-bottom: 50px;
}

.price .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.price .text {
  display: none;
}

.price .card {
  padding-top: 20px;
  padding-bottom: 20px;
}
.price .card:nth-child(1),
.price .card:nth-child(3) {
  display: none;
}


.price .card-title {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.price .card-list {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  list-style: none;
}

.price .list-item {
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
.price .list-item:last-child {
  margin-bottom: 0;
}

.price .card-price {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.price .card-btn {
  margin: 0 auto;
}

.price .show-prices {
  display: block;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
  margin: 0 auto;
  transition: .1s;
}
.price .show-prices:hover {
  color: #FED100;
}
.price .show-prices:active {
  color: #A58800;
  text-decoration: none;
}

/* Price styles end */


/* Cars styles start */

.cars {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 45px;
}

.cars .title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 8px;
}

.cars .text {
  display: none;
}

.cars .car-type-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 40px;

}
@media (min-width:321px) and (max-width:480px) {
  .cars .car-type-buttons {
    max-width: 400px;
  }
}

.cars .car-type-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  font-size: 16px;
}
.cars .car-type-btn:hover {
  text-decoration: underline;
}
.cars .car-type-btn:active {
  text-decoration: underline;
  color: #FED100;
}

.cars .car-type .order-btn {
  margin: 0 auto;
}

.cars .car-type-btn.current {
  font-weight: bold;
  border-bottom: 2px solid #FED100;
  cursor: default;
}
.cars .car-type-btn.current:hover,
.cars .car-type-btn.current:active {
  text-decoration: none;
  color: #333;
}

.cars .car-type .car-photo {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.cars .car-type .desc-title {
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}

.cars .list {
  display: none;
}

.cars .slide-switchers {
  display: flex;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.cars .slide-switchers .switch-btn {
  width: 20px;
  height: 20px;
  background: url('../img/slider-circle.svg'),
              transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.cars .slide-switchers .switch-btn.current {
  background: url('../img/slider-circle-current.svg'),
              url('../img/slider-circle.svg'),
              transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.cars .car-type-heel,
.cars .car-type-truck {
  display: none;
}

/* Cars styles end */


/* Reviews styles start */

.reviews {
  padding-top: 40px;
  padding-bottom: 50px;
  background: #FED100;
}

.reviews .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.reviews .wrapper {
  margin-bottom: 36px;
}

.reviews .review:first-child,
.reviews .review:last-child {
  display: none;
}

.reviews .review {
  margin-bottom: 40px;
}

.reviews .review .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reviews .review .date,
.reviews .review .rating-wrapper {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 36px;
}

.reviews .review .rating-stars {
  pointer-events: none;
  user-select: none;
}

.reviews .review .text {
  line-height: 21px;
  margin: 0;
  margin-bottom: 15px;
}

.reviews .review .read-more {
  color: #333;
  font-weight: bold;
  margin-bottom: 30px;
  transition: .1s;
}
.reviews .review .read-more:hover {
  text-decoration: none;
}
.reviews .review .read-more:active {
  color: #A58800;
}

.reviews .reviews-btn {
  margin: 0 auto;
}

/* Reviews styles end */


/* Order styles start */

.order {
  padding-top: 62px;
  padding-bottom: 70px;
}

.order .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  max-width: 222px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.order .text {
  font-size: 15px;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}

.order .order-form .field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333333;
  padding: 0 5px 14px 5px;
  margin-bottom: 40px;
}
.order .order-form .field:focus {
  outline: none;
}

.order .order-form .tel-field {
  margin-bottom: 60px;
}

.order .order-form .field::placeholder {
  color: rgba(51, 51, 51, 0.7);
}

.order .order-form .order-btn {
  margin: 0 auto;
  margin-bottom: 14px;
}
@media (min-width: 321px) and (max-width: 480px) {
  .order .order-form .order-btn {
    -webkit-box-shadow: 5px 5px 0px 0px rgba(254,207,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(254,207,0,1);
    box-shadow: 5px 5px 0px 0px rgba(254,207,0,1);

  }
}

.order .order-form .agreement-label {
  display: flex;
}

.order .order-form .agreement-input {
  appearance: none;
}

.order .order-form .agreement-checkbox {
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid #333;
  border-radius: 2px;
  margin-right: 10px;
}
.order .order-form .agreement-input:checked + .agreement-checkbox {
  background: url('../img/check.svg') no-repeat center;
}

.order .order-form .agreement-desc {
  font-size: 12px;
  line-height: 15px;
  user-select: none;
}

/* Order styles end */


/* Contacts styles start */

.contacts .map {
  position: relative;
  min-height: 524px;
  overflow: hidden;
}

.contacts .map .pic {
  height: 524px;
  position: absolute;
  left: -680px;
}

.contacts .wrapper {
  padding-top: 46px;
  padding-bottom: 44px;
  padding-left: 28px;
}
@media (min-width: 321px) and (max-width: 480px) {
  .contacts .wrapper {
    text-align: right;
  }
}

.contacts .title {
  display: none;
}

.contacts p {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts .email a {
  color: #333;
  border-bottom: 1px solid #333;
  text-decoration: none;
}
.contacts .email a:hover {
  border: none;
}
.contacts .email a:active {
  color: #A58800;
}

.contacts .socials {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 166px;
  display: none;
}

.contacts .link span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.contacts .social .link::before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
}
.contacts .social-yt .link::before { 
  background: url('../img/social-yt.svg') no-repeat center;
  background-size: contain;
}
.contacts .social-vk .link::before { 
  background: url('../img/social-vk.svg') no-repeat center;
  background-size: contain;
}
.contacts .social-fb .link::before { 
  background: url('../img/social-fb.svg') no-repeat center;
  background-size: contain;
}
.contacts .social-inst .link::before { 
  background: url('../img/social-inst.svg') no-repeat center;
  background-size: contain;
}

@media (min-width: 321px) and (max-width: 480px) {
  .contacts .socials {
    display: flex;
  }
}

/* Contacts styles end */


/* Footer styles start */

.footer {
  background: #FED100;
  padding-top: 60px;
  padding-bottom: 50px;
}

.footer__policies {
  margin-bottom: 46px;
}

.footer__policies .logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
}

.footer__policies .policy {
  text-align: center;
  max-width: 238px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.footer__policies .policy .link {
  color: #333;
  line-height: 21px;
  text-decoration: none;
}
.footer__policies .policy .link:hover {
  text-decoration: underline;
}
.footer__policies .policy .link:active {
  color: #A58800;
}

.footer__nav {
  margin-bottom: 46px;
}

.footer__nav .nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.footer__nav .nav-item {
  margin-bottom: 15px;
}

.footer__nav .nav-link {
  color: #333;
  text-decoration: none;
}
.footer__nav .nav-link:hover {
  text-decoration: underline;
}
.footer__nav .nav-link:active {
  color: #A58800;
}

.footer__contacts {
  margin: 0 auto;
  margin-bottom: 46px;
  width: 166px;
}

.footer__contacts .socials {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 166px;
}

.footer__contacts .social-link span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.footer__contacts .social .social-link::before {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  background: #000;
}
.footer__contacts .social-yt .social-link::before { 
  background: url('../img/social-yt.svg') no-repeat center;
  background-size: contain;
}
.footer__contacts .social-vk .social-link::before { 
  background: url('../img/social-vk.svg') no-repeat center;
  background-size: contain;
}
.footer__contacts .social-fb .social-link::before { 
  background: url('../img/social-fb.svg') no-repeat center;
  background-size: contain;
}
.footer__contacts .social-inst .social-link::before { 
  background: url('../img/social-inst.svg') no-repeat center;
  background-size: contain;
}


.footer__contacts .email {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 1px solid #333;
}
.footer__contacts .email:hover {
  border: none;
}
.footer__contacts .email:active {
  color: #A58800;
}

.footer__feedback .feedback-btn {
  margin: 0 auto;
  color: #333;
  text-decoration: none;
  font-weight: normal;
}

.footer__feedback .tel {
  text-align: center;
  display: none;
}
@media (min-width: 321px) and (max-width: 480px) {
  .footer__feedback .tel {
    display: block;
  }
}

/* Footer styles end */